# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe ](#read)
3. [Amostragem (sample)](#amostragem)
3. [Intro sobre métodos de string](#strings)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy  as np
import pandas as pd

# 2. Construindo um dataframe  <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(np.random.randint(100000, size=(1000000, 10)),
             columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

# 3. Amostragem <a name="amostragem"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
df.shape

(1000000, 10)

In [4]:
df.sample(10)

            A      B      C      D      E      F      G      H      I      J
49614   94075  24661  23378  24230  27032  33504  35277  73068  75167  33980
313494  96644  20739   8026  98002  19056  60357  28669  97885  54998  32071
801777  33621  62144  93678  18623  87417  76484  94160  75744   7220  74397
207320  66179  58940  84308  97974  51133   5213  59093  94105  90216  55215
362037   1281  85050   9124  76449  25998  35797  75593  57287  43051  73564
256524  36957  83492  95563     40    619  99915    512  82225  26955  85783
902524  34128  59224  79474   4665  79120  45528  64093   2095   9949  53833
450562  34571  45988  24448  84691  89289  74803  34792  17783  30686  33968
437472  19807  52606  74911  89874  41968  66935  20138  53089  90871  39094
410030  19608  57740  65381  43011  60003  44152  34052  57878  94813  23285

In [5]:
df.sample(10, random_state=100)

            A      B      C      D      E      F      G      H      I      J
617759  33190  57725  98819  57294  67089  21496  25659  52427  15710  85309
693227  38586  77607  36881  28301  94436  26939  59125  85574  12466  28805
906065  92932  24925  42064   4795  54026  96842  99653  72207  75093  56783
828507  82062   8530  53833  26376  72640  63965  55344  60250  15468   5987
869730  82043  92690  96169  51396  15714  34238  61147  82708  86537    956
147081  12570  24219  22660  79479  18654  54916  48622  89274  80954  76952
779428  78429  22009  70252  60722  45820  24679  64829  67607   8495  68025
485973  97966  41613  94029  85917  19657  16262  24218  22621  42150  43740
30697   98538  51608  72921  48896  60275  52579  43775  66175  50632  23043
306669  76091  93181   3936   4645  44794  47208  90875  11094  96196  69760

In [6]:
df.sample(frac=0.1, random_state=100)

            A      B      C      D      E      F      G      H      I      J
617759  33190  57725  98819  57294  67089  21496  25659  52427  15710  85309
693227  38586  77607  36881  28301  94436  26939  59125  85574  12466  28805
906065  92932  24925  42064   4795  54026  96842  99653  72207  75093  56783
828507  82062   8530  53833  26376  72640  63965  55344  60250  15468   5987
869730  82043  92690  96169  51396  15714  34238  61147  82708  86537    956
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
599633  56838  23351  75841  87933   6274  49807  18356  70399  23447   8421
103907  82476   8931  64540  18003   6504  10273  80333  52297  18903  25830
536846    830   8237   6704  44575  13057   3183  19243   6237  20639  10880
68354   50100  98682  65106   8722  95823  12189   5222  57643  95399  72551
762302  50263  46471  81906  76645  56225  38431   3442  64974  76182  76475

[100000 rows x 10 columns]

# 4. Manipulação de strings - métodos <a name="strings"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [7]:
texto = 'texto'

In [8]:
texto[::-1]

'otxet'

In [9]:
palindromo = 'apos a sopa'

In [10]:
palindromo[::-1]

'apos a sopa'

In [11]:
texto = 'teXTO'
texto.capitalize()

'Texto'

In [12]:
texto.lower()

'texto'

In [13]:
texto.upper()

'TEXTO'

In [14]:
# S.find(sub[, start[, end]]) -> int
texto.find('X')

2

In [15]:
texto[2]

'X'

In [16]:
#S.find(sub[, start[, end]]) -> int
texto.find('x')

-1

In [17]:
#texto.replace(antigo, novo)
texto.replace('XTO','sta')

'testa'